<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand ms-3" href="{% url 'home' %}">Memarchive</a>
    <form class="d-flex mx-auto" style="width: 50%;">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <img src="{{ user.profile.avatar.url }}" class="me-3" style="width: 40px; height: 40px; border-radius: 50%;">
</nav>
