<br><br>
<div class="d-flex flex-column flex-shrink-0 p-3 bg-white vh-100 sidebar position-fixed" style="width: 200px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link link-dark">
          History
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          Playlists
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          Liked
        </a>
      </li>
      <hr>
      <li>
        <a href="#" class="nav-link link-dark">
          Trends
        </a>
      </li>
      <hr>
      <li>
        <a href="#" class="nav-link link-dark">
          You follow
        </a>
      </li>
    </ul>
</div>
